:root {
  --baseFont: 'Inter', sans-serif;
  --weightRegular: 400;
  --weigthBold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--baseFont);
}

#nieuw-boek {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 30vh;
  margin: 0 auto;
}

.catergorie {
  display: flex;
  flex-direction: column;
}

.button-primary {
  height: 3.125rem; /*50px*/
  width: 8.208rem; /*131.33px*/
  padding: 12px 18px 12px 18px;
  background-color: #000;
  color: #fff;
  font-weight: var(--weightRegular);
  line-height: 1.6em;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
}
